.carrosel-title {
    color: var(--laranja);
    text-align: center;
    text-transform: uppercase;
    background-color: var(--branco);
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width:100%;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.secondary {
    margin-top: 1em;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

 
@media screen and (min-width: 1024px) {
    .carrosel-title {
        padding-top: 2em;
        font-size: 26px;
    }

    .swiper {
        width: 60%;
    }

    .swiper-pagination {
        margin: 1em 0 3em 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
    }

}

@media screen and (min-width: 1728px) {
    .swiper-pagination {
        margin: 3em 0 1em 0;
    }
}