.carrosel-title {
    color: var(--laranja);
    text-align: center;
    text-transform: uppercase;
    background-color: var(--branco);
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width:100%;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.secondary {
    margin-top: 1em;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

 
@media screen and (min-width: 1024px) {
    .carrosel-title {
        padding-top: 2em;
        font-size: 26px;
    }

    .swiper-slide {
        margin-left: 1em;
    }

    .swiper-slide img {
        width: 70%;
    }

    .swiper-wrapper {
        display: flex;
        column-gap: 1em !important;
    }

    .swiper-pagination {
        margin: 1em 0 3em 0;
    }

    .swiper {
        width: 960px;
        height: 480px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        background: var(--azul);
        color: var(--branco);
        padding: 1em;
        border-radius: 10000em;
        height: 2em;
        align-items: center;
        justify-content: center;
        width: 2em;
        position: absolute;
        }

    .swiper-button-prev::after, {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
 
    }
}