.header-hmenu {
    width: 32px;
    height: 32px;
    background-image: url(../images/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 0.5em;
}


.container {
    display: flex;
    align-items: center;
}

.container-img {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container-btn:checked ~.lista-menu {
    display: block;
}

.lista-menu-title,
.lista-menu-item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu-title {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu-link {
    background: var(--azul);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container-btn {
    display: none;
}

.alurabook-title {
    display: none;
}

.hd-list {
    display: none;
}

@media screen and (min-width: 1024px) {


    .header-hmenu {
        display: none;
    }

    .container-img-none {
        display: none;
    }

    .alurabook-title {
        display: block;
        color: var(--preto);
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        font-weight: 400;
    }

    .title-negrito {
        font-weight: 700;
    }

    .hd-list {
        display: flex;
        text-transform: uppercase;
        column-gap: 3em;
    }

    .lista-menu {
        width: auto;
    }

    .list-item {
        font-size: 1em;
        font-weight: 400;
        color: var(--preto);
    }

    .img-ctn {
        column-gap: 2em;
    }

    .header {
        justify-content: space-around;
    }
    
}