.rodape {
    background-color: var(--branco);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email {
    display: flex;
    flex-direction: column;
    padding: 1.5em 1em;
    width: 90%;
    row-gap: 1.2em;
}

.email-titulo {
    background: var(--azul);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-weight: 500;
}

.email-texto {
    font-size: 1em;
    font-weight:  100;
    background: var(--azul);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.email-input {

    display:block;
    padding: 0.5em 0.5em;
    border-radius: 1.5em;
}

.email-input::placeholder {
    color: var(--blue);
    background: url("../images/Email.svg") no-repeat;
    background-position: 1em;
    text-align: center;
}

.autor {
    font-size: 1em;
    font-weight: 400;
}

.footer {
    background-color: var(--branco);
    padding: 1em;
}

.footer-list {
    display: none;
}

@media screen and (min-width:1024px) {
    .email {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 3em 0;
    }

    .email-titulo {
        font-size: 1.5em;
        font-weight: 500;
    }

    .email-texto {
        font-size: 1em;
    }

    .email-txt {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        width: 30%;
    }

    .email-input {
        width: 20%;
        margin-left: 5em;
    }

/* nunca mais misture 2 seções *********************************** */
 
    .footer {
        display: flex;
        justify-content: space-between;
        padding: 4em 2em;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
    }
    
    .footer-item {
        display: flex;
        align-items: center;
        margin: .5em 0;
    }
    
    .footer-item a{
        text-decoration: none;
        font-size: 14px;
        color: var(--cinza);
        margin-left: 1em
    }

    .list-title {
        color: var(--cinza-claro);
        text-transform: uppercase;
        margin-bottom: 0.5em;
    }

    .autor {
        font-size: 1.5em;

    }

}

@media screen and (min-width:1728px) {
    .email {

    }

    .email-txt {
        width: 20%;
    }

    .footer-list {
        border-left: 2px solid var(--cinza-claro) ;
        padding-left: 1em;
    }

    .footer {
        padding: 3em 15vw;
    }
}